<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="manifest" href="{{ url_for('home.sw', filename='manifest.json') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{ title }} | Albabe</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar is-link is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('home.homepage') }}">
                <img src="{{ url_for('static', filename='img/albabe.png') }}" alt="Albabe | Jual Beli Barang Bekas" width="auto" height="100">
            </a>
        
            
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span class="nav-toggle" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"></span>
                <span class="nav-toggle" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"></span>
                <span class="nav-toggle" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"></span>
            </a>
            
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu has-background-link">        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="navbar_item button is-link is-inverted is-outlined" href="{{ url_for('barang.jual_barang') }}">Jual Barang</a>
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_admin %}
                                <a class="navbar_item button is-link is-inverted is-outlined" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                            {% endif %}
                            <a class="navbar_item button is-link is-inverted is-outlined" href="{{ url_for('user.profil', u=current_user.username) }}"><i class="far fa-user"></i>&nbsp;{{ current_user.username }}</a>
                            <a class="navbar_item button is-danger is-inverted is-outlined" href="{{ url_for('auth.logout') }}">Log out</a>
                        {% else %}
                        <a class="button is-primary" href="{{ url_for('auth.register') }}"><strong>Daftar</strong></a>
                        <a class="button is-light" href="{{ url_for('auth.login') }}">Masuk</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <section class="section">
            {% block body %}
            {% endblock %}
    </section>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
            navigator.serviceWorker.register("{{ url_for('home.sw', filename='sw.js') }}")
                .then(reg => console.log('SW terdaftar', reg))
                .catch(err => console.log('SW Gagal: ', err));
            });
        }
    </script>
</body>
</html>